{% raw %}{% extends "admin/base.html" %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}

{% block extrahead %}
    {% include "includes/favicons.html" %}
    {{ block.super }}
    {% render_bundle 'admin_custom' 'css' %}
{% endblock extrahead %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock title %}

{% block branding %}
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>-->

<img src="{% static 'images/django-logo-white.svg' %}" alt="logo" class="logo" />
{% endblock branding %}

{% block nav-global %}{% endblock nav-global %}{% endraw %}
