# We only need what is required to run the app, no build/testing artifacts

.DS_Store
.coveragerc
.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.pylintrc
.readthedocs.yml
.travis.yml
venv
.git
