# We only need what is required to run the app, no build/testing artifacts

.DS_Store
.coveragerc
.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.pylintrc
.readthedocs.yml
.travis.yml
.travis.yml
.env

pytest.ini
setup.cfg

*.log
.envs/
.git/
.vscode/
node_modules/
static_collection/
staticfiles/
media/
utility-scripts/
venv/

# Docker compose files
production.yml
staging.yml
local.yml
