PROJECT_TITLE={{ cookiecutter.project_name }}

# PostgreSQL
DATABASE_URL=postgres://{{ cookiecutter.project_user }}:pass@localhost:5432/{{ cookiecutter.project_slug }}

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_DEBUG=True
DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY="e$l&3x-!26#*wq2&n%ym3!d(1elx$g4!phybiqkd6eq1mg@e39"
DJANGO_ALLOWED_HOSTS=*

# AWS
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

{% if cookiecutter.use_celery == 'y' -%}
# CELERY
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672/
{% endif %}
