{% raw %}{% load static %}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}" />

  {% comment %}
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/favicons/apple-touch-icon-57x57.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon-144x144.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img/favicons/apple-touch-icon-60x60.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/favicons/apple-touch-icon-120x120.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/favicons/apple-touch-icon-76x76.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-196x196.png' %}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-128.png' %}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-144x144.png' %}" />
  <meta name="msapplication-square70x70logo" content="{% static 'img/favicons/mstile-70x70.png' %}" />
  <meta name="msapplication-square150x150logo" content="{% static 'img/favicons/mstile-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo" content="{% static 'img/favicons/mstile-310x150.png' %}" />
  <meta name="msapplication-square310x310logo" content="{% static 'img/favicons/mstile-310x310.png' %}" />
  {% endcomment %}

  <title>{% block title %}Dashboard{% endblock %} | {{ PROJECT_TITLE }}</title>

  {% block css %}
  <!-- Start bare minimum -->
  <link href="{% static 'customadmin/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

  <link href="{% static 'customadmin/css/animate.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/css/style.css' %}" rel="stylesheet">
  <!-- End bare minimum -->
  {% endblock css %}

  {% block js_head %}
  <script src="{% static 'customadmin/js/moment/moment.js' %}"></script>
  <script src="{% static 'customadmin/js/utils.js' %}"></script>
  {% endblock js_head %}

</head>

<body>

  <div id="wrapper">

    {% include 'customadmin/sidebar.html' %}

    <div id="page-wrapper" class="gray-bg">

      <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
              <i class="fa fa-bars"></i>
            </a>
            <!--<form role="search" class="navbar-form-custom" method="post" action="#">
              <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
              </div>
            </form>-->
          </div>
          <ul class="nav navbar-top-links navbar-right">
            {% if request.user.is_authenticated %}
            <li>
                <a href="#">
                <i class="fa fa-user"></i> {% if request.user.first_name and request.user.last_name %}{{ request.user.first_name }} {{ request.user.last_name }}{% else %}{{ request.user }}{% endif %}
                </a>
            </li>
            <li>
              <a href="{% url 'customadmin:auth_logout' %}">
                <i class="fa fa-sign-out"></i> Logout</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

      {% block breadcrumbs %}{% endblock breadcrumbs %}

      <div class="container-fluid wrapper wrapper-content animated fadeInRight">
        {% include 'customadmin/partials/messages.html' %}
        {% block content %}{% endblock content %}
      </div>

      <div class="footer">
        <div class="pull-right">
          Powered by
          <strong>Python/Django</strong>
        </div>
        <div>
          <strong>Copyright</strong> {{ COPYRIGHT }} &copy; {% now 'Y' %}
        </div>
      </div>

    </div>
  </div>

  {% block js %}
  <!-- Mainly scripts -->
  <script src="{% static 'customadmin/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'customadmin/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'customadmin/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
  <script src="{% static 'customadmin/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

  <!-- Custom and plugin javascript -->
  <script src="{% static 'customadmin/js/inspinia.js' %}"></script>
  <script src="{% static 'customadmin/js/plugins/pace/pace.min.js' %}"></script>

  <!-- Sweet alert -->
  <script src="{% static 'customadmin/js/plugins/sweetalert/sweetalert.min.js' %}"></script>

  <!-- Project -->
  <script src="{% static 'customadmin/js/customadmin.js' %}"></script>
  {% endblock js %}

</body>

</html>
{% endraw %}
