/*
    DJANGO Admin style overrides
*/

:root > * {
  --primary: #050505; // #282828;
  --secondary: #282828; // ##050505;
  --accent: #f5dd5d;
  --primary-fg: #fff;
  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;
  --header-color: #ffc;
  --header-branding-color: var(--accent);
  --header-bg: var(--primary);
  --header-link-color: var(--primary-fg);
  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--secondary);
  --link-fg: #417893;
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;
  --hairline-color: #e8e8e8;
  --border-color: #ccc;
  --error-fg: #ba2121;
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;
  --darkened-bg: #f8f8f8;
  --selected-bg: #e4e4e4;
  --selected-row: #ffc;
  --button-fg: #fff;
  --button-bg: #bfbfbf; // var(--primary);
  --button-hover-bg: #609ab6;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #747474;
  --close-button-hover-bg: #333;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;
  }

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

body.login #header {
  // background: $primary-color;
  .logo-login {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
  }
}

#branding {
  .logo {
    height: 36px;
    width: auto;
  }
}

.module caption {
  background-color: var(--secondary);
  a.section:link, a.section:visited {
    color: #fff
  }
}

.module h2 {
  background-color: var(--accent);
}
