/* Login screen */
.login-logo {
  text-align: center;
  img {
    width: 100%;
  }
}

/* Admin listing tables */
table tbody td.row-actions {
  text-align: right;
  white-space: nowrap;
}

/* Override Sweet Alerts */
.swal-text {
  text-align: center
}

.swal-footer {
  text-align: center;
}

/* File Browse Fake */
.file{
  .file-name{
      overflow: hidden;

      height: 75px;

      word-break: break-all;
  }
}

.uploader{
  position: relative;
  .file-browse{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 300px;
      height: 49px;

      cursor: pointer;

      opacity: 0;
  }
}

/* Inline formset */
.inline-formset {
  input[type="checkbox"] {
      display: none;
  }
  button {
      outline: none;
  }
}

/* Wayfinding */
.icon-bg {
  background-color: #469ead;
  img {
    width: 18px;
    height: auto;
    margin: 4px 0;
  }
  text-align: center;
}

/* Dashboard */
.widget{
  &.p-lg{
      @media(min-width:1201px){
          min-height: 180px;
      }
  }
  vertical-align: middle;
}


/* Trix */
.trix-button--icon-strike, .trix-button--icon-quote, .trix-button--icon-heading-1, .trix-button--icon-code,.trix-button--icon-decrease-nesting-level, .trix-button--icon-increase-nesting-level, .trix-button--icon-link {
    display: none;
}


.fileinput {
  margin-bottom: 1px !important;
}
