{% extends "base_inspinia.html" %}

{% block body_id %}page-top{%endblock %}
{% block body_class %}landing-page no-skin-config{%endblock %}

{% block content %}

  {% include "pages/includes/slider.html" %}

  {% include "pages/includes/services.html" %}

  {% include "pages/includes/main_features.html" %}

  {% include "pages/includes/team.html" %}

  {% include "pages/includes/features.html" %}

  {% comment %} {% include "pages/includes/timeline.html" %} {% endcomment %}

  {% include "pages/includes/testimonials.html" %}

  {% include "pages/includes/comments.html" %}

  {% include "pages/includes/more_features.html" %}

  {% include "pages/includes/pricing.html" %}

  {% comment %} {% include "pages/includes/contact.html" %} {% endcomment %}

{% endblock content %}
